<div class="console">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3">
        <a href="javascript:void(0);" ng-href="/#!/" ng-class='{"active":activeIndex()==0}'>
          <i class="fa fa-child"></i><br/>宝宝
        </a>
      </div>
      <div class="col-xs-3">
        <a href="javascript:void(0);">
          <i class="fa fa-send"></i><br/>小屋
        </a>
      </div>
      <div class="col-xs-3">
        <a href="javascript:void(0);">
          <i class="fa fa-search"></i><br/>发现
        </a>
      </div>
      <div class="col-xs-3" >
        <a href="javascript:void(0);" ng-href="/#!/private/" ng-class='{"active":activeIndex()==3}'>
          <i class="fa fa-user"></i><br/>我
        </a>
      </div>
    </div>
  </div>
</div>
