<!--全站头部-->
<div ng-include="templateUrl.header"></div>

<div class="jy" ng-controller="HomeCtrl">
  <div class="jy-banner"><img src="../images/banner.jpg"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2 jy-head"><img src="../images/user-img.jpg"></div>
      <div class="col-xs-10 jy-item">
        <div class="jy-name">名字</div>
        <div class="jy-in">文字内容文字内容文字内容文字内容文字内容文字内容文字</div>
        <div class="jy-img row">
          <div class="col-xs-4"><img src="../images/user-img.jpg"></div>
          <div class="col-xs-4"><img src="../images/user-img.jpg"></div>
        </div>
        <div class="jy-date"><i class="fa fa-clock-o"></i> 2015-02-12</div>
        <div class="jy-like"><i class="fa fa-heart-o"></i> 喜欢(1586) | <i class="fa fa-comment-o"></i> 评论(181)</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 jy-head"><img src="../images/user-img.jpg" class="img-responsive"></div>
      <div class="col-xs-10 jy-item">
        <div class="jy-name">名字</div>
        <div class="jy-in">文字内容文字内容文字内容文字内容文字内容文字内容文字</div>
        <div class="jy-date"><i class="fa fa-clock-o"></i> 2015-02-12</div>
        <div class="jy-like"><i class="fa fa-heart-o"></i> 喜欢(1586) | <i class="fa fa-comment-o"></i> 评论(181)</div>
      </div>
    </div>
  </div>
</div>

<!--全站底部-->
<div ng-include="templateUrl.footer"></div>
