<!--全站头部-->
<div class="container-fluid" ng-include="templateUrl.header"></div>

<div class="jy container-fluid" ng-controller="HomeCtrl">
  <!-- banner -->
  <div class="jy-banner row"><img src="../images/banner.jpg"></div>

  <!-- content -->
  <div class="row container-fluid">
    <!-- content-repeat start-->
    <div class="row">
      <div class="col-xs-2 jy-head"><img src="../images/user-img.jpg"></div>
      <div class="col-xs-10 jy-item">
        <div class="jy-name">名字</div>
        <div class="jy-in">文字内容文字内容文字内容文字内容文字内容文字内容文字</div>
        <div class="jy-img row">
          <div class="col-xs-4"><div class="jy-img-item"></div></div>
          <div class="col-xs-4"><div class="jy-img-item"></div></div>
          <div class="col-xs-4"><div class="jy-img-item"></div></div>
        </div>
        <div class="jy-date"><i class="fa fa-clock-o"></i> 02-12 周五</div>
        <div class="jy-like"><i class="fa fa-heart-o"></i> 喜欢(1586) | <i class="fa fa-comment-o"></i> 评论(181)</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 jy-head"><img src="../images/user-img.jpg" class="img-responsive"></div>
      <div class="col-xs-10 jy-item">
        <div class="jy-name">名字</div>
        <div class="jy-in">文字内容文字内容文字内容文字内容文字内容文字内容文字</div>
        <div class="jy-date"><i class="fa fa-clock-o"></i> 02-12 周五</div>
        <div class="jy-like"><i class="fa fa-heart-o"></i> 喜欢(1586) | <i class="fa fa-comment-o"></i> 评论(181)</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 jy-head"><img src="../images/user-img.jpg" class="img-responsive"></div>
      <div class="col-xs-10 jy-item">
        <div class="jy-name">名字</div>
        <div class="jy-in">文字内容文字内容文字内容文字内容文字内容文字内容文字</div>
        <div class="jy-date"><i class="fa fa-clock-o"></i> 02-12 周五</div>
        <div class="jy-like"><i class="fa fa-heart-o"></i> 喜欢(1586) | <i class="fa fa-comment-o"></i> 评论(181)</div>
      </div>
    </div>
    <!-- content-repeat end-->
  </div>

  <!--全站底部-->
  <div class="row" ng-include="templateUrl.footer"></div>
</div>
