<div class="user" ng-controller="PrivateCtrl">
  <div class="header-user">
    <img src="images/user-img.jpg"> 用户名
  </div>
  <div class="container-fluid list-user">
    <ul class="list">
      <li class="row">
        <div class="col-xs-2 list-i"><i class="fa fa-flag-o"></i></div>
        <div class="col-xs-10 list-line" ng-click="toggleTrigger(0)">个人信息
          <i class="fa" ng-class="{'fa-angle-up':toggleIdx == 0, 'fa-angle-down':toggleIdx != 0}"></i></div>
        <ul class="col-xs-12 list-in animate-show" ng-show="toggleIdx == 0">
          <li class="row">
            <div class="col-xs-3">用户名</div>
            <div class="col-xs-9">user_id</div>
          </li>
          <li class="row">
            <div class="col-xs-3">真实姓名</div>
            <div class="col-xs-9">ture_name</div>
          </li>
          <li class="row">
            <div class="col-xs-3">联系电话</div>
            <div class="col-xs-9">telephone</div>
          </li>
          <li class="row">
            <div class="col-xs-3">手机</div>
            <div class="col-xs-9">mobile</div>
          </li>
          <li class="row">
            <div class="col-xs-3">所在城市</div>
            <div class="col-xs-9">area</div>
          </li>
          <li class="row">
            <div class="col-xs-3">地址</div>
            <div class="col-xs-9">contact_addr</div>
          </li>
          <li class="row">
            <div class="col-xs-3">QQ</div>
            <div class="col-xs-9">qq</div>
          </li>
          <li class="row">
            <div class="col-xs-3">MSN</div>
            <div class="col-xs-9">msn</div>
          </li>
          <li class="row">
            <div class="col-xs-3">性别</div>
            <div class="col-xs-9">sex</div>
          </li>
          <li class="row">
            <div class="col-xs-3">生日</div>
            <div class="col-xs-9">birthday</div>
          </li>
          <li class="row">
            <div class="col-xs-3">注册时间</div>
            <div class="col-xs-9">time</div>
          </li>
          <li class="row">
            <div class="col-xs-3">邮编</div>
            <div class="col-xs-9">zip</div>
          </li>
        </ul>
      </li>
      <li class="row">
        <div class="col-xs-2 list-i"><i class="fa fa-bell-o"></i></div>
        <div class="col-xs-10 list-line" ng-click="toggleTrigger(1)">宝贝信息
          <i class="fa" ng-class="{'fa-angle-up':toggleIdx == 1, 'fa-angle-down':toggleIdx != 1}"></i></div>
        <ul class="col-xs-12 list-in animate-show" ng-show="toggleIdx == 1">
          <li class="row">
            <div class="col-xs-3">宝贝姓名</div>
            <div class="col-xs-9">ChildName</div>
          </li>
          <li class="row">
            <div class="col-xs-3">宝贝性别</div>
            <div class="col-xs-9">Gender</div>
          </li>
          <li class="row">
            <div class="col-xs-3">昵称</div>
            <div class="col-xs-9">PetName</div>
          </li>
          <li class="row">
            <div class="col-xs-3">英文名</div>
            <div class="col-xs-9">EnglishName</div>
          </li>
          <li class="row">
            <div class="col-xs-3">宝贝生日</div>
            <div class="col-xs-9">Birth</div>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="list">
      <li class="row" ng-click="cdDialog('list')">
        <div class="col-xs-2 list-i"><i class="fa fa-heart-o"></i></div>
        <div class="col-xs-10 list-line">我的收藏<i class="fa fa-angle-down"></i></div>
      </li>
      <li class="row" ng-click="cdDialog('list')">
          <div class="col-xs-2 list-i"><i class="fa fa-calendar-o"></i></div>
          <div class="col-xs-10 list-line">我的文章<i class="fa fa-angle-down"></i></div>
      </li>
      <li class="row" ng-click="cdDialog('list')">
          <div class="col-xs-2 list-i"><i class="fa fa-envelope-o"></i></div>
          <div class="col-xs-10 list-line">我的消息<i class="fa fa-angle-down"></i></div>
      </li>
      <li class="row" ng-click="cdDialog('list')">
          <div class="col-xs-2 list-i"><i class="fa fa-comments-o"></i></div>
          <div class="col-xs-10 list-line">我的社区<i class="fa fa-angle-down"></i></div>
      </li>
      <li class="row" ng-click="cdDialog('setting')">
          <div class="col-xs-2 list-i"><i class="fa fa-cog"></i></div>
          <div class="col-xs-10 list-line">设置<i class="fa fa-angle-down"></i></div>
      </li>
    </ul>
    <!--全站底部-->
    <div class="row" ng-include="templateUrl.footer"></div>
  </div>
</div>
