<!--全站头部-->
<div class="container-fluid" ng-include="templateUrl.headerDialog"></div>

<div class="lib container-fluid">
  <!-- content -->
  <ul>
    <!-- content-repeat start-->
    <li class="row">
      <div class="col-xs-2 jy-head"><img src="../images/user-img.jpg"></div>
      <div class="col-xs-10 jy-item">
        <div class="jy-name">名字</div>
        <div class="jy-date">2015-02-12</div>
        <div class="jy-in">文字内容文字内容文字内容文字内容文字内容文字内容文字</div>
        <div class="jy-img row">
          <div class="col-xs-4"><div class="jy-img-item" style="background-image: url('../images/user-img-1.jpg')"></div></div>
          <div class="col-xs-8"><div class="jy-in">文字内容文字内容文字内容文字内容文字内容文字内容文字</div></div>
        </div>
      </div>
    </li>
    <li class="row">
      <div class="col-xs-2 jy-head"><img src="../images/user-img.jpg" class="img-responsive"></div>
      <div class="col-xs-10 jy-item">
        <div class="jy-name">名字</div>
        <div class="jy-in">文字内容文字内容文字内容文字内容文字内容文字内容文字</div>
        <div class="jy-date"><i class="fa fa-clock-o"></i> 02-12 周五</div>
        <div class="jy-like"><i class="fa fa-heart-o"></i> 喜欢(1586) | <i class="fa fa-comment-o"></i> 评论(181)</div>
      </div>
    </li>
    <li class="row">
      <div class="col-xs-2 jy-head"><img src="../images/user-img.jpg" class="img-responsive"></div>
      <div class="col-xs-10 jy-item">
        <div class="jy-name">名字</div>
        <div class="jy-in">文字内容文字内容文字内容文字内容文字内容文字内容文字</div>
        <div class="jy-date"><i class="fa fa-clock-o"></i> 02-12 周五</div>
        <div class="jy-like"><i class="fa fa-heart-o"></i> 喜欢(1586) | <i class="fa fa-comment-o"></i> 评论(181)</div>
      </div>
    </li>
    <!-- content-repeat end-->
  </ul>

</div>
