<div class="lib container-fluid">
  <!-- content -->
  <ul>
    <!-- content-repeat start-->
    <li class="row">
      <div class="col-xs-2 lib-head"><img src="../images/user-img.jpg"></div>
      <div class="col-xs-10 lib-item">
        <div class="row">
          <div class="col-xs-8"><div class="lib-name">名字</div></div>
          <div class="col-xs-4"><div class="lib-date">2015-02-12</div></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><div class="lib-img-item" style="background-image: url('../images/user-img-1.jpg')"></div></div>
          <div class="col-xs-8">
            <div class="lib-in">文字标题文字标题文字标题文字标题文字标题</div>
            <div class="lib-type">文章类型</div>
          </div>
        </div>
      </div>
    </li>
    <li class="row">
      <div class="col-xs-2 lib-head"><img src="../images/user-img.jpg"></div>
      <div class="col-xs-10 lib-item">
        <div class="row">
          <div class="col-xs-8"><div class="lib-name">名字</div></div>
          <div class="col-xs-4"><div class="lib-date">2015-02-12</div></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><div class="lib-img-item" style="background-image: url('../images/user-img-1.jpg')"></div></div>
          <div class="col-xs-8">
            <div class="lib-in">文字标题文字标题文字标题文字标题文字标题</div>
            <div class="lib-type">文章类型</div>
          </div>
        </div>
      </div>
    </li>
    <li class="row">
      <div class="col-xs-2 lib-head"><img src="../images/user-img.jpg"></div>
      <div class="col-xs-10 lib-item">
        <div class="row">
          <div class="col-xs-8"><div class="lib-name">名字</div></div>
          <div class="col-xs-4"><div class="lib-date">2015-02-12</div></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><div class="lib-img-item" style="background-image: url('../images/user-img-1.jpg')"></div></div>
          <div class="col-xs-8">
            <div class="lib-in">文字标题文字标题文字标题文字标题文字标题</div>
            <div class="lib-type">文章类型</div>
          </div>
        </div>
      </div>
    </li>
    <li class="row">
      <div class="col-xs-2 lib-head"><img src="../images/user-img.jpg"></div>
      <div class="col-xs-10 lib-item">
        <div class="row">
          <div class="col-xs-8"><div class="lib-name">名字</div></div>
          <div class="col-xs-4"><div class="lib-date">2015-02-12</div></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><div class="lib-img-item" style="background-image: url('../images/user-img-1.jpg')"></div></div>
          <div class="col-xs-8">
            <div class="lib-in">文字标题文字标题文字标题文字标题文字标题</div>
            <div class="lib-type">文章类型</div>
          </div>
        </div>
      </div>
    </li>
    <!-- content-repeat end-->
  </ul>
  <div class="no-more">没有更多了…</div>
</div>
